body {
  
    background-image: url(../img/蓝色logo.png);
   
}

.pc {
    font-size: 50px;

}
#p2 {text-align: center;}
#p3 {text-align: right;}
#div1 {
   height: 50px;
    width: 100px;
    background-color: rgb(51, 116, 245);
}
#div2 {
    
    background-color: rgb(73, 209, 23);
}
#span1 {
    background-color: rgb(13, 76, 144);
}
#span2 {
  background-color: rgb(23, 197, 197);
}
#footer {
    font-size: 50px;
    height: 150px;
    line-height: 350px;
    color: #000;
    text-align: center;
}